{% extends 'base.html' %}

{% block content %}
    <h1>About Me / Agustin Garagorry Guerra</h1>
    <p>My name is Agustín Garagorry, and I am a former member of the research team at the University of Turku, focusing on the implementation of Generative AI in educational environments (<a href="https://www.mdpi.com/2071-1050/15/18/14025">Check the latest paper</a>)My background as a UX/UI designer has enabled me to bring creative solutions to complex problems, designing innovative frameworks that address various challenges. My goal is to foster international collaborations that enhance the quality of life for as many children as possible.
        <br>
        Throughout my career, I have gained extensive experience in managing and leading teams towards successful outcomes. I have balanced client expectations with team capabilities and timelines, ensuring comfort and satisfaction for all stakeholders.
        <br>
        I consider myself a versatile individual who quickly learns new skills and understands how to apply them to enhance team performance.
        <br>
        Originally from Uruguay, I am now living in Finland—a surprising and exciting destination for me. I am a lover of dogs and enjoy spending my evenings with a good cup of coffee.</p>

    <h2>Why I Created This Website</h2>
    <p>For my final project at Coderhouse, I have envisioned a unique platform that allows collaborative storytelling. This concept is inspired by a classic Uruguayan game, where children weave stories together using small pieces of paper during school hours. The core idea is to create a space where people can write and express themselves in a joint narrative, seamlessly integrating their ideas with those of others.
        <br>
        Imagine the excitement of adapting your story to intertwine with someone else's and the thrill of influencing the direction of a shared narrative. This project aims to recapture the joy of collaborative storytelling, albeit in a modern digital format. Due to time constraints, I had to simplify the project's complexity, but the essence of playful, collective creativity remains intact. Let's see what fascinating stories emerge from this experience!
    </p>
{% endblock %}